

.first-container{
    background-image: url(image/Mahajan_banner_18.webp);
    background-size: cover;
    /* background-position: center; */
    
}

.first-container::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.247);
    /* border: 5px solid pink; */
    border-radius: 20px;
    
  }

  .font-1{
    font-family: "Train One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  .nav-1 ul li a {
  
      font-size:14px;
      color: white;
  }
  
  .nav-1 ul li a:hover {
  
      color:  rgb(193, 163, 98);
      transition: .5s linear  ;
  
}
  